:root {
    --primary: rgb(83, 32, 37);
    --secondary: rgb(64, 255, 111);
    --tertiary: rgb(121, 47, 54);
}

.primary-background {
    background-color: var(--primary);
}

.secondary-text {
    color: var(--primary);
}

.text-color {
    color: var(--secondary);
}

.secondary-header {
    background-color: var(--tertiary);
}

.height-variable {
    height: 800px;
}

.card-style {
    width: 400px;
}


.background {
    height: 100%;
    width: 100%;
}

.clickable {
    cursor: pointer;
}

.extra-shadow {
    transition: 0.2s;
}

.extra-shadow:hover {
    box-shadow: 0px 20px 19px 0px rgba(0,0,0,1);
    filter: brightness(1.25);
}

.hover-element:hover, a:hover {
    color: white;
}

.submit-button {
    width: 200px;
}

.review-form {
    left: -300px;
}

.img-card {
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.background-btn {
    background-color: var(--secondary);
}

.underline {
    text-decoration: none;
}

.input-form {
    width: 400px;
    margin-right: 20px;
}


/*vanaf hier is het sterren systeem*/



/*vanaf hier is het sterren systeem*/


.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating > input {
    display: none
}

.rating > label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.rating > label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
    opacity: 1 !important
}

.rating > input:checked ~ label:before {
    opacity: 1
}

.rating:hover > input:checked ~ label:before {
    opacity: 0.4
}


.buttons {
    top: 36px;
    position: relative;
}


.rating-submit {
    border-radius: 15px;
    color: #fff;
    height: 49px;
}

.rating-submit:hover{
    color: #fff;
}

.form-alignment {
    position: relative;
    margin-left: 20%;
}

.input-1, input-2, input-3, send {
    transition: 0.5s;
}

@media screen and (max-width: 1200px) {

    .checkbox-container {
        position: relative;
    }
}

@media screen and (max-width: 700px) {

    .checkbox-container {
        position: relative;
        bottom: -250px;
    }
}


.slidecontainer {
    width: 100%;
}

.slider {
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}
